body {
    box-sizing: border-box;
    margin: 25px auto;
    text-align: center;
}

#headline {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#container {
    display: flex;
}

.cell {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
}


.changedColor {
    background-color: hotpink; /* Wenn ich hier transition einfüge, beeinflusst dass, wie lange es dauert, bis die Farbe */
} /* pink wird, aber nicht wie lange sie pink bleibt! */

/* Die Klasse darf erst eine gewisse Zeit nach mouseleave entfernt werden.*/